.wrapper
	width: 960px
	margin: 40px auto
	display: flex
	flex-direction: column
.tabs
	display: flex
	gap: 4px
	&__item
		font-size: 20px
		width: 150px
		padding: 4px 12px
		border-radius: 16px 16px 0 0
		background: rgba(0, 0, 0, 0.1)
		text-align: center
		cursor: pointer
		&_active
			background: rgba(0, 0, 0, 0.3)
.table 
	display: none
	border: none
	border-spacing: 0
	&_active
		display: table
	thead 
		th 
			width: 25%
			padding: 10px
			font-weight: 500
			line-height: 20px
			text-align: left
			color: #444441
			border-top: 2px solid #716561
			border-bottom: 1px solid #716561

	tbody 
		td 
			width: 25%
			padding: 10px
			line-height: 20px
			color: #444441
			border-top: 1px solid #716561
